html, body, #map {
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}

#map {
  cursor:default;
}

h2 {
  padding:0px;
  margin:0px;
  line-height:100%;
}

p {
  margin-top:0px !important;
  margin-bottom:0px !important;
  padding:0px 0px 10px 0px;
}

.pelagios-load-indicator {
  margin:auto;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:240px;
  height:120px;
  background:url('load.gif');
  background-repeat:no-repeat;
  background-position:center;
  background-color:rgba(255, 255, 255, 0.8);
  border:1px solid #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

#search-container {
  position:absolute;
  top:0px;
  right:0px;
  background-color:rgba(255, 255, 255, 0.8);
  border-width:0px 0px 1px 1px;
  border-style:solid;
  border-color:#ccc;
  padding:10px;
}

#search-container input {
  border:1px solid #ddd;
  padding:6px;
  width:180px;
  background-color:rgba(255, 255, 255, 0.9);
  outline:none;
  color:#777;
}

#search-container input:disabled {
  color:#ddd;
}
